.cart {
  /* width: 350px; */
  width: 25vw;
  background-color: var(--colors-surface-darker);
  border: 2px solid var(--colors-text-primary);
  display: fixed;
  z-index: 1;
  top: 1.25rem;
  right: 1.25rem;
  height: auto;
  min-height: 40vh;
  position: fixed;
}
.cart__heading {
  padding: 0.95rem 1rem;
  font-weight: bold;
  color: var(--colors-text-primary);
  font-size: 1.25rem;
}
.cart__inner {
  padding: 1.25rem;
}
.remove-icon {
  height: 20px;
}
.cart__total {
  display: flex;
  padding: 1rem 1.25rem 0;
  border-top: 2px solid var(--colors-text-primary);
  justify-content: space-between;
}
.cart__total-title {
  color: var(--colors-text-primary);
  font-weight: bold;
}
.cart__none {
  padding: 1.25rem;
  color: var(--colors-text-primary);
  text-align: center;
}
.cart__footer {
  display: flex;
  justify-content: space-between;
}
.cart__btn-empty {
  align-self: flex-start;
  background-color: white;
  border: 2px solid var(--colors-text-primary);
  padding-left: 1.25rem;
  padding: 0.5rem 0.75rem;
  margin: 0 1.25rem 1.25rem;
  text-transform: uppercase;
  color: var(--colors-text-primary);
  font-weight: bold;
  font-size: 0.75rem;
}
.cart__btn-checkout {
  background-color: var(--colors-text-primary);
  border: 2px solid var(--colors-text-primary);
  padding-left: 1.25rem;
  padding: 0.5rem 0.75rem;
  margin: 0 1.25rem 1.25rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
}
.cart__btn-checkout:hover {
  background-color: #3538aa;
}
.cart-item {
  display: flex;
  padding: 1.25rem;
}
.cart-item__image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border: 2px solid var(--colors-accent);
  margin-right: 0.75rem;
}
.cart-item__details-name {
  font-size: 0.98rem;
  color: var(--colors-text-primary);
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.cart-item__details-qty {
  display: flex;
  margin: 0 auto;
  margin-bottom: 0;
  font-size: 1rem;
}
.cart-item__details-qty button {
  border: none;
  font-size: small;
  background-color: pink;
  /* border: none;
  background: none;
  font-size: 1.25rem; */
}
.cart-item__details-qty p {
  margin-bottom: 0;
  margin-top: 3px;
}
.cart-item__details-price {
  font-size: 0.875rem;
}
.cart-item__remove {
  max-width: 40px;
  background-color: white;
  border: 2px solid var(--colors-text-primary);
  /* padding: 0.5rem 0.75rem; */
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--colors-text-primary);
  font-weight: bold;
  margin-left: auto;
  align-self: flex-start;
}
