.hero-img {
  /* background-image: url("./hero-img.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.hero__text {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  color: var(--colors-text-primary);
  position: absolute;
  top: 45%;
  left: 10%;
  padding: 60px 50px;
}
.hero__text h1 {
  font-weight: bold;
  font-size: 42px;
}
