.nav {
  position: fixed;
  top: 1rem;
  text-align: center;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo {
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 10px;
}
.nav__cart-total {
  /* background-color: rgb(255, 228, 196, 0.5); */
  vertical-align: top;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__cart-total-text {
  font-size: 14px;
  font-style: bold;
  background-color: var(--colors-accent);
  color: white;
  margin: 10px;
  margin-top: 15px;
  padding: 0 0.25rem;
  border-radius: 50%;
  vertical-align: top;
}
.cart-icon {
  width: 40px;
  height: 40px;
}
.nav__cart-btn {
  border: solid 2px transparent;
  /* width: 60px; */
  position: relative;
}
.nav__cart-btn--open {
  border: solid 2px transparent;
}
.nav__cart-btn--close {
  background-color: var(--colors-text-primary);
  padding: 0 0.25rem;
  color: white;
  margin-left: -1.6rem;
  margin-top: -0.25rem;
  border-radius: 50%;
  vertical-align: top;
  width: 2.25rem;
  height: 2.25rem;
  border: none;
  z-index: 999;
  position: absolute;
}
