.products {
  display: block;
  margin: 3rem;
}
.products .product {
  width: 55%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2rem;
}
.products .product__image {
  border: 2px solid #292b83;
  width: 100%;
}
.products .product__name {
  color: #292b83;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}
.products .product__details {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
}
.products .product__price {
  align-self: center;
  margin: 0;
  color: #434343;
}
.products .product__details {
  display: flex;
  justify-content: space-between;
}
.products .product__btn {
  background: #ef4e42;
  color: white;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
  border: none;
}
.products .product__btn:hover {
  background-color: #f1645a;
}
@media only screen and (max-width: 500px) {
  .product__btn {
    margin-top: 0;
  }
}
@media only screen and (min-width: 766px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 10rem;
  }
}
