.products {
  display: block;
  border-radius: 5px;
  grid-gap: 15px;
  grid-template-rows: 1fr;
}
.product {
  height: 90%;
  margin: 10px;
  padding-bottom: 2rem;
  border-radius: 5px;
  background-color: var(--colors-surface-color);
}
.product__info {
  /* min-height: 130px; */
  padding: 10px 8px 8px;
  display: flex;
  flex-direction: column;
}
.product__image {
  border: 2px solid transparent;
  border-radius: 15px;
  width: 100%;
}
.product__name {
  color: var(--colors-text-primary);
}
.product__description {
  text-transform: lowercase;
}
.product__details {
  display: flex;
  justify-content: space-between;
}

.product__btn {
  display: flex;
  justify-content: space-between;
}
.product__price {
  align-self: center;
  margin: 0;
  color: var(--colors-text-primary);
}
.product__details {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 766px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 966px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1200px) {
  .products {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
